.clock {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.1;
  cursor: pointer;
  padding: 0 var(--space-3);
}

.time {
  font-size: var(--font-size-sm);
  font-weight: 500;
}

.date {
  font-size: var(--font-size-xs);
  color: var(--color-text-secondary);
}
